@charset "UTF-8";
/* Body */
body {
	font-family: Arial, Cambria, microsoft yahei;
	background-color: #FFFFFF;
	margin: 0;
}

/* Mobile */
@media (max-width: 320px) {

}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {

}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

}
